<a href="https://colab.research.google.com/github/dheaanisah/BelajarRelative/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
linkbus = 'https://github.com/DS-100/textbook/raw/master/content/datasets/SF_Restaurant_Inspections/businesses.csv'
linkinsp = 'https://github.com/DS-100/textbook/raw/master/content/datasets/SF_Restaurant_Inspections/inspections.csv'
linkviol = 'https://github.com/DS-100/textbook/raw/master/content/datasets/SF_Restaurant_Inspections/violations.csv'

In [3]:
bus = pd.read_csv(linkbus, encoding='ISO-8859-1')
insp = pd.read_csv(linkinsp)
viol = pd.read_csv(linkviol)
print(bus.info())
print(insp.info())
print(viol.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6406 entries, 0 to 6405
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   6406 non-null   int64
 1   name          6406 non-null   object
 2   address       6406 non-null   object
 3   city          6406 non-null   object
 4   state         6406 non-null   object
 5   postal_code   6166 non-null   object
 6   latitude      3270 non-null   float64
 7   longitude     3270 non-null   float64
 8   phone_number  5766 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 450.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14222 entries, 0 to 14221
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   business_id  14222 non-null  int64
 1   score        14222 non-null  int64
 2   date         14222 non-null  int64
 3   type         14222 non-null  object
dtypes: int64(3), object(1)
memory usage: 444.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39042 entries, 0 to 39041
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   business_id  39042 non-null  int64
 1   date         39042 non-null  int64
 2   description  39042 non-null  object
dtypes: int64(2), object(1)
memory usage: 915.2+ KB
None

In [6]:
date_format = '%Y%m%d'

def parse_dates_and_years(df, column='date'):
    dates = pd.to_datetime(df[column], format=date_format)
    years = dates.dt.year
    return df.assign(timestamp=dates, year=years)

def extract_day_of_week(df, col='timestamp'):
  return df.assign(dow=df[col].dt.day_of_week)

In [7]:
insp = (pd.read_csv(linkinsp)
        .pipe(parse_dates_and_years)
        .pipe(extract_day_of_week))

insp.head()

   business_id  score      date     type  timestamp  year  dow
0           19     94  20160513  routine 2016-05-13  2016    4
1           19     94  20171211  routine 2017-12-11  2017    0
2           24     98  20171101  routine 2017-11-01  2017    2
3           24     98  20161005  routine 2016-10-05  2016    2
4           24     96  20160311  routine 2016-03-11  2016    4

In [12]:
banyaknyahari  = insp['dow'].value_counts()

weekday = banyaknyahari[[0, 1, 2, 3, 4]]
weekend = banyaknyahari[[5, 6]]

totalweekday = weekday.sum()
totalweekend = weekend.sum()

print("weekday", totalweekday)
print("weekend", totalweekend)

weekday 13607
weekend 615

In [13]:
def subset_2016(df):
     return df.query('year == 2016')

     violation2016 = violation.pipe(subset_2016)
     inspect2016 = inspect.pipe(subset_2016)

In [15]:
def left_join_vios(ins):
  return ins.merge(num_vios, on=['business_id', 'timestamp'], how='left')

  ins_and_num_vios = ins2016.pipe(left_join_vios)
  ins_and_num_vios